{% extends "base.html" %}

{% block titulo %}
<title>Rodados MDQ - Inicio</title>
{% endblock titulo %}


{% block contenido %}
{% if user.is_authenticated %}
<h1 style="display:flex; justify-content: center; font-size: 5em;" >Bienvenido/a {{ user.last_name }}, {{ user.first_name }}!</h1>
<div style="display:flex; justify-content: center;">
  <img src="{{ user.avatar.imagen.url }}" style="max-width: 600px; margin:25px">
</div>
{% else %}
<h1>Bienvenido/a visitante</h1>
{% endif %}
{% endblock contenido %}
