{% extends "base.html" %}

{% block titulo %}
<title>Rodados MDQ - Compactos</title>
{% endblock titulo %}

{% block contenido %}
<h1 style="color:blue;">
  Nuestros compactos disponibles:
</h1>

<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Modelo</th>
      <th>Año</th>
      <th></th>
      <th></th>
    </tr>
    {% for compactos in compacto %}
    <tr>
      <td>{{ compactos.id }}</td>
      <td>{{ compactos.modelo }}</td>
      <td>{{ compactos.anio }}</td>
      <td><a href="{% url 'editar_compacto' compactos.id %}">Editar compacto</a></td>
      <td>
        <form action="{% url 'eliminar_compacto' compactos.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="eliminar"/>
        </form>
      </td>
 
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}



