{% extends "base.html" %}

{% block titulo %}
<title>Rodados MDQ - Compactos</title>
{% endblock titulo %}

{% block contenido %}
<h1 style="color:blue;">
  Nuestros compactos disponibles:
</h1>

<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Modelo</th>
      <th>Año</th>
      <th></th>
      <th></th>
    </tr>
    {% for compactos in compacto %}
    <tr>
      <td>{{ compactos.id }}</td>
      <td>{{ compactos.modelo }}</td>
      <td>{{ compactos.anio }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}



