{% extends "base.html" %}

{% block titulo %}
<title>Rodados MDQ - Modelos</title>
{% endblock titulo %}


{% block contenido %}
<h1 style="display:flex; justify-content: center;">
    Nuestros modelos: 
</h1>

<div style="display:flex; justify-content: center;">
<h2>
    <li>
        <a href="{% url 'auto_compacto' %}">Ver nuestros compactos</a>
    </li>
    <li>
        <a href="{% url 'auto_sedan' %}">Ver nuestros sedanes</a>
    </li>
    <li>
        <a href="{% url 'auto_suv' %}">Ver nuestras SUV</a>
    </li>
    <li>
        <a href="{% url 'auto_pickup' %}">Ver nuestras Pick Ups</a>
    </li>
</h2>
</div>

{% endblock contenido %}

